.login_screen {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login_screen_div_slika {
  height: 600px;
  width: 700px;
  content: url("../../slike/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg");
  object-fit: cover;
}
.login_screen_div {
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login_screen_div p {
  font-size: 2rem;
  font-weight: 800;
}
.login_screen_div_form {
  width: 80%;
  height: 400px;
  text-align: center;
}
#vrati-se {
  font-size: 0.9rem;
  font-weight: 300;
}
.login_screen_nazad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50px;
}
.login_screen_nazad h4 {
  margin-left: 20px;
  margin-top: 9px;
  font-size: 1rem;
}
#login_screen_vrati {
  text-decoration: none;
  color: black;
}
#login_screen_registracija {
  font-size: 0.9rem;
  padding-left: 6px;
  margin-top: 10px;
}
#login_screen_zab_sifra {
  font-size: 0.8rem;
  color: rgb(103, 104, 105);
  margin-top: 10px;
}
#login_screen_error {
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  .login_screen {
    flex-direction: column;
  }
}
