.ličnipodaci {
  height: 60vh;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ličnipodaci_div {
  width: 500px;
  text-align: center;
  color: white;
}
.ličnipodaci_div p {
  font-size: 1rem;
}
.ličnipodaci_div h2 {
  font-weight: 800;
  font-size: 3rem;
}
#ličnipodaci_fakultet {
  margin-top: -22px;
}
#ličnipodaci_fakultet {
  font-weight: 100;
}
#ličnipodaci_ime {
  font-size: 2.5rem;
}
#ličnipodaci_nauči {
  color: white;
  font-size: 0.7rem;
}
.ličnipodaci_copyright {
  width: 100%;
  background-color: #677583;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ličnipodaci_copyright p {
  margin-top: 25px;
  font-size: 2rem;
}
.ličnipodaci_copyright a {
  text-decoration: none;
  color: white;
}
.ličnipodaci_socijalne_mreze {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
#copyright {
  font-size: 0.6rem;
}
@media only screen and (max-width: 768px) {
  .ličnipodaci {
  }
  .ličnipodaci_div {
    width: 300px;
  }
}
