.navbar_header {
  width: 100%;
  position: fixed;
}
.navbar_linkovi {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
  margin: 0;
}
.navbar_linkovi > li {
  list-style: none;
  cursor: pointer;
}
#liÄnipodaci_fakultet {
  margin-top: -15px;
}
