.registracija_screen {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.registracija_screen_div_slika {
  height: 600px;
  width: 700px;
  content: url("../../slike/green-chameleon-s9CC2SKySJM-unsplash.jpg");
  object-fit: cover;
}
.registracija_screen_div {
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.registracija_screen_div p {
  font-size: 2rem;
  font-weight: 800;
}
.registracija_screen_div_form {
  width: 80%;
  height: 400px;
  text-align: center;
}
#vrati-se {
  font-size: 0.9rem;
  font-weight: 300;
}
.registracija_screen_nazad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50px;
}
.registracija_screen_nazad h4 {
  margin-left: 20px;
  margin-top: 9px;
  font-size: 1rem;
}
#registracija_screen_vrati {
  text-decoration: none;
  color: black;
}
#registracija_screen_login {
  font-size: 0.9rem;
  padding-left: 6px;
  margin-top: 10px;
}
#registracija_screen_error {
  font-size: 0.9rem;
}
@media only screen and (max-width: 768px) {
  .registracija_screen {
    flex-direction: column;
  }
  .registracija_screen_div {
    height: 900px;
  }
}
